# gitlab.target
#
# This is a service unit file designed to allow you to enable a single unit and
# have all the core gitlab services start.

[Unit]
Description=GitLab version control software
Documentation=https://gitlab.com/
Documentation=https://github.com/puppetlabs-operations/fpm-gitlab
BindsTo=gitlab-ce-mailroom.service
BindsTo=gitlab-ce-sidekiq.service
BindsTo=gitlab-ce-unicorn.service
BindsTo=gitlab-ce-workhorse.service
